.circle{
    height: 200px;
    width: 200px;
    background-color: blue;
    transition: background-color 2s ease-in, border-radius 1s;

}
.circle:hover{
    background-color: burlywood;
    border-radius: 50%;
}